body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background: #1a1a1a;
    color: white;
}

.nav-center a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    height: 40px;
}

.avatar {
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

/* CARROSSEL */
.carousel {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.carousel img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    animation: slide 12s infinite;
}

/* DESCRIÇÃO */
.section {
    padding: 40px 20px;
    text-align: center;
}

/* RODAPÉ */
.footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
